

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect semua request ke folder public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Lindungi file sensitif
<FilesMatch "(\.env|\.htaccess|artisan)">
    Require all denied
</FilesMatch>
